
<html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>TODO</title>

</head>
<body>
  {% block content %}
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
    <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">MY
        <span class="w3-hide-small">WEBSITE</span> </span>
  </div>
</div>

    <form method="post" action="/update/{{st.id}}/" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        TITLE : <input name="title" type="text" value="{{ st.title }}">
        DETAILS : <input name="details" type="text" value="{{ st.details }}">
       DATE :  <input name="date" type="date" value="{{ st.date }}"><br>
        <button type="submit" class="save btn btn-default">UPDATE</button>
    </form>
  {% endblock content %}
</body>
</html>