
<html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>TODO</title>

</head>
<body>
  {% block content %}
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
    <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">MY
        <span class="w3-hide-small">WEBSITE</span> </span><br><br>
  </div>
</div>

<form action="/todo/" method="post">
    {% csrf_token %}

        <div class="mb-3">
        Title:  <input type="text" class="form-control" name="title">
        </div><br>

        <div class="mb-3">
        Details:    <input type="text" class="form-control" name="details">
        </div><br>
        <div class="mb-3">
        Date:   <input type="date" class="form-control" name="date">
        </div><br><br>

        <button type="submit" class="btn btn-primary">Add User</button>
</form>
  {% endblock content %}
</body>
</html>